{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block title %}Demograder{% endblock %}

{% block breadcrumb %}&nbsp;{% endblock %}

{% block content %}
    <div class="form-wrapper">
        <h2 class="title">Add Person</h2>
        <form method="POST" action="{{ url_for('main.create_user') }}">
            {{ form.id }}
            {{ render_field(form.email) }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
